.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.text-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}

@for $i from 0 through 100 {
    .gap-#{$i} {
        gap: #{$i}px;
    }
}

@for $i from 0 through 100 {
    .padding-#{$i} {
        padding: #{$i}px;
    }
}


@for $i from 0 through 100 {
    .padding-top-#{$i} {
        padding-top: #{$i}px;
    }
}

@for $i from 0 through 100 {
    .padding-bottom-#{$i} {
        padding-bottom: #{$i}px;
    }
}

@for $i from 0 through 100 {
    .padding-left-#{$i} {
        padding-left: #{$i}px;
    }
}

@for $i from 0 through 100 {
    .padding-right-#{$i} {
        padding-right: #{$i}px;
    }
}

.relative {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}