@import 'common.scss';


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    40% {
        transform: rotate(15deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@function px($value) {
    @return calc(#{$value}px);
}

@for $i from 10 through 200 {
    .font-#{$i} {
        --font-size: #{$i};
        font-size: calc(var(--font-size) * 1px);

        @media screen and (max-width: 800px) {
            font-size: calc(var(--font-size) * 100vw / 480);
        }
    }
}

img {
    user-select: none;
    pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=The+Nautigal:wght@400;700&display=swap');

@font-face {
    font-family: 'ParfumerieScriptOldStyle';
    src: url('../assets/fonts/ParfumerieScriptOldStyle.otf');
}

@font-face {
    font-family: 'Garet';
    src: url('../assets/fonts/Garet.woff2');
}

@font-face {
    font-family: 'Fz_Qellia_Fix';
    src: url('../assets/fonts/Fz_Qellia_Fix.ttf');
}

[data-name="name"] {
    font-weight: bold;
}

.font-Garet {
    font-family: 'Garet';
}

html {}

body {
    margin: 0;
    --text-color: rgb(52, 75, 56);
    --font-name: 'The Nautigal';
    --font-save: 'Cormorant';
    font-family: 'Cormorant';
}

.album__container {
    overflow: hidden;

    img {
        width: 100%;
    }

    .flex {
        &>div {
            min-width: 100%;
        }
    }
}

.font-big {
    font-family: 'Fz_Qellia_Fix';
}

.font-ParfumerieScriptOldStyle {
    font-family: 'ParfumerieScriptOldStyle';
}

.font-normal {
    font-family: 'Cormorant';
}

.font-bold {
    font-weight: bold;
}

.container {
    position: relative;
    max-width: 768px;
    min-height: 100vh;
    // background: url(../assets//images/bg.png);
    background-size: 100%;
    margin: auto;
    color: var(--text-color);
    box-shadow:
        0 10px 30px rgba(0, 0, 0, .05),
        inset 0 1px 0 rgba(255, 255, 255, .5);
    overflow: hidden;
    background-color: #f6f4f0;
}

.decor-top {
    position: absolute;
    top: -40px;
    right: 0;
    width: 200px;
    transform: rotate(15deg);
    opacity: 0.5;
}

.decor-top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55%;
    opacity: 0.9;


    &.double {
        width: 65%;
        transform: rotateY(180deg) rotate(-270deg);
        opacity: 0.3;
        top: 20px;
        animation: pulse 5s ease-in-out infinite;
    }
}

.decor-bot-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
    opacity: 0.9;
    transform: rotate(180deg);

    &.double {
        width: 65%;
        transform: rotateY(180deg) rotate(270deg);
        opacity: 0.3;
        bottom: 20px;
    }
}

.decor-center {
    width: 50px;
    margin: auto;
    display: block;
    animation: pulse 5s ease-in-out infinite;
}

.decor-center-left {
    position: absolute;
    left: 0;
    top: 50%;
    opacity: 0.2;
    transform: rotate(135deg);

}

.decor-center-right {
    position: absolute;
    right: 0;
    bottom: 50%;
    opacity: 0.2;
    transform: rotateY(180deg) rotate(45deg);
}


.frame-overview {
    z-index: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
    position: relative;
    width: 100%;
    color: #fff;
    background: url('../assets/images/bg.webp');

    .main {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        opacity: 0.55;
    }

    &::before {
        display: block;
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../assets/images/giay.webp');
        background-size: contain;
        opacity: 0.1;

    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.1;
        z-index: 1;
        position: absolute;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }

    &__title {
        font-family: var(--font-save);
        position: relative;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__name {
            font-family: var(--font-name);
            text-align: center;
        }

        &__decorator {
            text-align: center;
        }
    }
}

.frame-about {
    background-size: cover;
    padding: 20px;
    position: relative;

    * {
        z-index: 2
    }
}

.frame-footer {
    position: relative;
    aspect-ratio: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .frame-overview__body {
        position: relative;
        z-index: 2;
        color: #fff;
        text-shadow: 2px 2px 4px #000;
    }

}