@import 'common.scss';

@function px($value) {
    @return calc(#{$value}px);
}

@for $i from 10 through 200 {
    .font-#{$i} {
        font-size: px($i);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=The+Nautigal:wght@400;700&display=swap');

@font-face {
    font-family: 'ParfumerieScriptOldStyle';
    src: url('../assets/fonts/ParfumerieScriptOldStyle.otf');
}

@font-face {
    font-family: 'Garet';
    src: url('../assets/fonts/Garet.woff2');
}

@font-face {
    font-family: 'Fz_Qellia_Fix';
    src: url('../assets/fonts/Fz_Qellia_Fix.ttf');
}

[data-name="name"] {
    font-weight: bold;
}

.font-Garet {
    font-family: 'Garet';
}

body {
    margin: 0;
    --text-color: rgb(52, 75, 56);
    --font-name: 'The Nautigal';
    --font-save: 'Cormorant';
    font-family: 'Cormorant';

    // text-transform: uppercase;
    &:after {
        // content: '';
        // display: block;
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // z-index: 1;
        // right: 0;
        // opacity: 0;
        // background: url('../assets/images/bg.webp');
        // position: fixed;
    }

}

.font-big {
    font-family: 'Fz_Qellia_Fix';
}

.font-ParfumerieScriptOldStyle {
    font-family: 'ParfumerieScriptOldStyle';
}

.font-normal {
    font-family: 'Cormorant';
}

.font-bold {
    font-weight: bold;
}

.container {
    position: relative;
    max-width: 768px;
    min-height: 100vh;
    // background: url(../assets//images/bg.png);
    background-size: 100%;
    margin: auto;
    color: var(--text-color);
    box-shadow:
        0 10px 30px rgba(0, 0, 0, .05),
        inset 0 1px 0 rgba(255, 255, 255, .5);
    overflow: hidden;
    background-color: #f6f4f0;

}

.decor-top {
    position: absolute;
    top: -40px;
    right: 0;
    width: 200px;
    transform: rotate(15deg);
    opacity: 0.5;
}

.decor-top-left {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 50%;
    opacity: 0.9;

    &.double {
        width: 55%;
        transform: rotateY(180deg) rotate(-270deg);
        opacity: 0.3;
        top: 20px;
    }
}

.decor-bot-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    opacity: 0.9;
    transform: rotate(180deg);

    &.double {
        width: 55%;
        transform: rotateY(180deg) rotate(270deg);
        opacity: 0.3;
        bottom: 20px;
    }
}

.decor-center {
    width: 50px;
    margin: auto;
    display: block;
}

.decor-center-left {
    position: absolute;
    left: 0;
    top: 50%;
    opacity: 0.2;
    transform: rotate(135deg);
}

.decor-center-right {
    position: absolute;
    right: 0;
    bottom: 50%;
    opacity: 0.2;
    transform: rotateY(180deg) rotate(45deg);
}


.frame-overview {
    z-index: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
    width: 100%;
    color: #fff;
    background: url('../assets/images/bg.webp');

    .main {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        opacity: 0.55;
    }

    &::before {
        display: block;
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../assets/images/giay.webp');
        background-size: contain;
        opacity: 0.1;

    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.1;
        z-index: 1;
        position: absolute;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }

    &__title {
        font-family: var(--font-save);
        position: relative;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__name {
            font-family: var(--font-name);
            text-align: center;
        }

        &__decorator {
            text-align: center;
        }
    }
}

.frame-about {
    // background: url('../assets/images/la4.webp');
    background-size: 100%;
    padding: 20px;
    position: relative;

    * {
        z-index: 2
    }
}