@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=The+Nautigal:wght@400;700&display=swap');

@function px($value) {
  @return calc(#{$value} * 100vw / 1920);
}

body {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  --font-name: 'The Nautigal';
  --font-save: 'Cormorant';
  color: #fff;
}

.screen-intro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    transform: scale(1.2);
  }

  video {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    transform: scale(1.2);
    position: relative;
    z-index: 2;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    &::after {
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('./img.jpg');
      background-size: cover;
      background-position: center;
      z-index: 2;
      opacity: 0.3;
    }

    &-title {
      font-size: px(90);
      text-align: center;
      margin-top: 100px;
      font-family: var(--font-save);
      position: relative;
      z-index: 3;
    }

    &-description {
      font-weight: 700;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 80px;
      position: relative;
      z-index: 3;
      flex-direction: row-reverse;

      &-name {
        font-family: var(--font-name);
        font-size: px(130);
        text-align: center;
        font-weight: 400;
      }

      svg {
        width: px(100);
        padding-top: 10px;
      }

      &-separator {
        font-family: var(--font-name);
        font-size: px(100);
        font-weight: 700;
        text-align: center;
      }
    }

    &-date {
      z-index: 3;
      position: relative;
      font-family: var(--font-date);
      font-size: px(40);
      text-align: center;
      display: flex;
      flex-direction: row;
      gap: 10px;
      letter-spacing: 10px;
    }
  }
}
